<% provide(:title, "Contact") %>

<h1>Contact me</h1>
<p>
  This is mt contact page for the sample 
  Ruby on Rails app based on the book by Michael Hartl
</p>
<p>
  Please contact me at gregory@example.com
</p>