<% provide(:title, "Help") %>

<h1>App Help Page</h1>
<p>
  Help, I've fallen and I can't get up!
</p>
<p>
  You can get help for the Ruby on Rails tutorial at:
  <br>
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>book</a>
</p>

